//.cursorrules文件
# 始终使用中文回复用户的问题。


# 组件和文件和函数名和方法名和变量和常量命名规范
- 组件文件名使用格式，例如：`login_weixin.vue`, `build_tree.js`

# 生产代码规范
- 生产代码时,不要帮我写README.md文件
- 生产代码时,不要帮我写.gitignore文件
- 生产代码时,帮我把新的代码,放在旧的代码的后面,不要帮我删除旧的代码,旧的代码注释掉
- 生产代码时,新的代码,帮我开头中文注释[新代码ai生产]
- 生产代码时,新的代码,写好解释代码的作用和逻辑

# 安装包规范
- 安装包时,使用pnpm安装
- 安装包时,使用pnpm install
- 安装包时,我是用的windows10系统的powershell,根目录和.cursorrules文件同级别




# nestjs项目规范
- 生产代码时,使用nestjs的swagger文档
- 生产代码时,帮我写好ApiOperation注解
- 生产代码时,帮我写好ApiTags注解
- 文件目录规范
    - src
        - Controller
            - 文件夹名称
                - 文件名.ts            : 控制器文件
                - 文件名_Module.ts     : 模块文件
                - 文件名_Service.ts    : 服务文件
                - 文件名_Dto.ts        : 数据传输对象文件







